# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# VS files
Project6
Project6.vcxproj
Project6.vcxproj.filters

# executable
proj6exe
